~*
Thumbs.db
.DS_Store
*.log
*.sql
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
wp/
node_modules/
vendor/
wp-config-local.php

!web/
web/*
!web/index.php
!web/wp-cli.yml
!web/wp-config.php
!web/wp-content/
.idea
