~*
Thumbs.db
.DS_Store
*.log
*.sql
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
wp/
node_modules/
vendor/
wp-config-local.php
.idea
!web/
web/*
!web/index.php
!web/wp-cli.yml
!web/wp-config.php
!web/wp-content/
web/wp-content/plugins/hello.php
web/wp-content/plugins/index.php
web/wp-content/plugins/akismet
web/wp-content/themes/hello.php
web/wp-content/themes/index.php
web/wp-content/themes/twentyfifteen
web/wp-content/themes/twentyseventeen
web/wp-content/themes/twentysixteen
